body {
    background-color: #F2F2F2;
}

.logo {
    margin-top: 50px;
    font-family: 'Poppins', san-serif;
    font-size: 50px;
    font-weight: bold;
    color: #2c3e50;
}
.about{
	margin-bottom: 30px;
}
.about-title {
    font-family: 'Playfair Display', serif;
    color: #2c3e50;
}
a{
	color: #9c88ff;
	padding: 5px;
	transition: all 0.3s ease;
}
a:hover{
	color: #F2F2F2;
	text-decoration: none;
	background-color: #9c88ff;
	transition: all 0.3s ease;
}
p {
    color: #686868;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.play {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

.prof {
    font-size: 40px;
    color: #686868;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}

.profession {
    margin-bottom: 50px;
}