.logo{
	margin-top: 50px;
	font-family: 'Cormorant Upright', serif;
	font-size: 60px;
	font-weight: bold;
	color: #2c3e50;
}
.about-title{
	font-family: 'Cormorant Upright', serif;
	font-weight: bold;
	color: #2c3e50;
}
p{
	color: #686868;
	font-family: 'Roboto', sans-serif;
}
.prof{
	font-size: 40px;
	color: #686868;
	font-family: 'Cormorant Upright', serif;
}
.profession{
	margin-top: -10px;
	margin-bottom: 50px;
}